th, td {text-align:left;font-weight:normal;float:none !important;}
table{margin:0;padding:0;border:1px;font-size:100%;font:inherit;vertical-align:baseline;border-collapse:collapse;border-spacing:0;}
table, th, td {vertical-align:middle;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold; color: red}
thead th {background:#c3d9ff;}
th, td {padding:4px 10px 4px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}

